<div class="containerPerfil">

    <div class="perfilLocal">

        <!-- SIDEBAR USUARIO -->

        <div class="panel">

            <div class="localNombreFoto">

                <!-- <h2 class="">{{nombre_local}}</h2> -->
                <h2 class="nombreLocal">{{nombre_local}}</h2>


                <div class="foto">
                    <img src="" alt="Foto del local">
                </div>

            </div>

            <div class="descripcion">
                <h3 style="text-align: center">Descripción</h3>
                <p>{{descripcion}} </p>
            </div>
        </div>

        <div class="panel2">

            <h3 style="text-align: center">Próximo eventos</h3>

            <app-proximos-eventos></app-proximos-eventos>

        </div>


    </div>


    <div class="containerEventos">

        <app-crear-evento></app-crear-evento>

    </div>



</div>