@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css');

.heroContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px);
    width: 100%;

}

.heroContenido{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    color:white;
}

p{
    font-weight: bold;
    font-size: 20px;

}


.heroVideo{
    width: 100%;
}
    
.video{
    width: 100%;
    filter: brightness(60%);
}

