<div class="heroContainer">

    <div class="heroVideo">
        <video class="video" autoplay loop type="video/mp4">
            <source src="../../assets/VIDEOS/Dj - 1257 (1).mp4" type="video/mp4" />
        </video>

    </div>

    <div class="heroContenido">
        <h1 class="heroH1"> No te pierdas los eventos que más te gustan</h1>
        <p>Forma tu propia orbita e invita a tus amigos. </p>

        <div class="botones">
            <div class="heroBtn">
                <a class="btn btn-outline-light btn-lg mb-1" [routerLink]="['/registro']" href="">Entra en la órbita
                    <i class="fas fa-arrow-right"></i>
                </a>
            </div>

        </div>
    </div>

  


</div>