<header>
    <div class="containerHeader">

        <div class="botones">

            <div class="botonHome" [routerLink]="['/home']">
                <i class="fas fa-home"></i>
                Home
            </div>

            <div class="botonPerfil" [routerLink]="['/perfil']" *ngIf="isLogged">
                <i class="fas fa-user"></i>
                Tu Orbita

            </div>

            <div class="botonRegistro" [routerLink]="['/registro']" *ngIf="!isLogged">
                <i class="fas fa-satellite-dish"></i>
                Entra en la órbita
            </div>

            <div class="botonLogin" [routerLink]="['/login']" *ngIf="!isLogged">
                <i class="fas fa-sign-in-alt"></i>
                Login

            </div>

            <div class="botonLogin" *ngIf="isLogged" (click)="clickLogout()">
                Bienvenido {{usuario}} | Logout
                <i class="fas fa-sign-in-alt"></i>

            </div>


        </div>


        <div>
            <img class="logo" src="../../assets/IMAGENES/ORBITA LOGO BLANCO.jpg" alt="">
        </div>

    </div>

</header>